/* ----- HTML Tags ----- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    /* EQUALS .color-dark */
    color: #202020;
}

p,
ul,
h3 {
    line-height: 150%;
}

/* Recuo para os bullet points */
li {
    margin-left: 30px;
}

a {
    text-decoration: none;
    /* EQUALS .color-link */
    color: #00528c;
}

/* Pode parecer redundante, mas necessario para que as imagens sejam responsivas e nao causem barra de rolagem 
horizontal na pagina */
img {
    max-width: 100%;
}

/* ---------- */





/* ----- Colors -----*/

/* Este e o preto padrao do site, e a cor padrao dos textos do site e tambem e a cor base para as sombras e overlays 
(.color-dark + alpha transparency) Ex: rgba(32, 32, 32, 0.7) ou #202020B3 - O valor de transparencia pode variar 
no caso das sombras conforme necessario, porem o valor para overlays e sempre 0.7. Nota: Por uma questao de 
compatibilidade entre browsers foi escolhido o formato RGBA pois o formato Hex + Alpha nao e amplamente implementado 
pelos browsers). */
.color-dark {
    color: #202020;
}

/* Esta e a cor branca padrao do site, seu uso no layout do site se restringe ao background do container principal
das paginas. Poram seu uso mais recorrente e na cor da fonte, dos icones e bordas de elementos que utilizam no 
background: .color-1st, .color-2nd e .color-dark-grey. Pode ser utilizada tambem no estado hover de alguns elementos de 
interface como o botao Design Tools e nos itens do Footer. */
.color-bright {
    color: #FFFFFF;
}

/* Esta e a cor principal do layout do site, ela esta presente em todas as paginas e e utilizada apenas nos elementos
de interface, ela nunca devera ser utilizada como cor de texto. Seu uso se limita a apenas elementos como barras de
titulo de componentes, background de headers, icones e botoes em estado hover. */
.color-1st {
    color: #FF8000;
}

/* Esta e a cor secundaria do layout do site, alem de compor o tema principal do site em conjunto com a cor principal. 
Seu papel e destacar os elementos de interface como icones, botoes e componentes, para a selecao dos componentes e 
exclusivamente utilizado a cor secundaria. Alem de compor elementos de interface essa cor e utilizada nos links em 
estado hover. */
.color-2nd {
    color: #A62900;
}

/* Esta cor e uma variacao mais clara da cor principal do site. E utilizada na cor da fonte dos itens do Footer e 
tambem e a cor do elemento hr (Ruler). */
.color-3rd {
    color: #E9C4A9;
}

/* Esta cor e uma variacao mais clara da cor .color-3rd. E utilizada para compor elementos de interface como background
de elementos box [[*Suggestions*]] e background em estado hover dos itens do menu Design Tools. */
.color-4th {
    color: #F8F0E8;
}

/* Esta cor e o cinza mais claro da escala de cinza da pagina. Seu uso se restringe a compor o background dos elementos 
"box" que servem para destacar um container de um background de cor .color-bright. Alguns exemplos sao: Container de 
configuracao de efeito, background da sessao Popular Graphic Design Apps na Landing Page e nas paginas auxiliares, e 
tambem compoe o background color do header das modais. */
.color-bright-grey {
    color: #F5F5F5;
}

/* Esta cor e o cinza medio da pagina. Seu uso e quase exclusivo para cores de bordas de diversos elementos da pagina, 
como os componentes que ficam no formulario porem essa cor tambem e utilizada como hover das imagens de componente de 
Wallpaper Generator, 3D Banner Maker e Photo Effect Multilist. */
.color-grey {
    color: #CCCCCC;
}

/* Esta cor e o cinza mais escuro da escala de cinza da pagina. O principal uso desta cor sao os textos com fonte mais 
clara, ideal para paragrafos e subtitulos. Tambem e utilizada para compor a cor da barra de titulo do container de 
configuraaoo de efeitos.*/
.color-dark-grey {
    color: #555555;
}

/* Esta e a cor padrao dos elementos ancora da pagina. E utilizada na maioria dos links e deve ser sempre acompanhado da 
cor secundaria da pagina em estado hover. */
.color-link {
    color: #00528C;
}


/* Background Colors */

.bg-color-dark {
    /* EQUALS .color-dark */
    background-color: #202020;
}

.bg-color-bright {
    /* EQUALS .color-bright */
    background-color: #FFFFFF;
}

.bg-color-1st {
    /* EQUALS .color-1st */
    background-color: #FF8000;
}

.bg-color-2nd {
    /* EQUALS .color-2nd */
    background-color: #A62900;
}

.bg-color-3rd {
    /* EQUALS .color-3rd */
    background-color: #E9C4A9;
}

.bg-color-4th {
    /* EQUALS .color-4th */
    background-color: #F8F0E8;
}

.bg-color-bright-grey {
    /* EQUALS .color-bright-grey */
    background-color: #F5F5F5;
}

.bg-color-grey {
    /* EQUALS .color-grey */
    background-color: #CCCCCC;
}

.bg-color-dark-grey {
    /* EQUALS .color-dark-grey */
    background-color: #555555;
}


/* Hoverables */

.hover-color-dark:hover {
    /* EQUALS .color-dark */
    color: #202020;
}

.hover-color-bright:hover {
    /* EQUALS .color-bright */
    color: #FFFFFF;
}

/* Classe hover obrigatoria para botoes */
.hover-color-1st:hover {
    /* EQUALS .color-1st */
    color: #FF8000;
}

/* Classe hover obrigatoria para links que utilizam a cor .color-link */
.hover-color-2nd:hover {
    /* EQUALS .color-2nd */
    color: #A62900;
}

.hover-color-3rd:hover {
    /* EQUALS .color-3rd */
    color: #E9C4A9;
}

.hover-color-4th:hover {
    /* EQUALS .color-4th */
    color: #F8F0E8;
}

.hover-color-bright-grey:hover {
    /* EQUALS .color-bright-grey */
    color: #F5F5F5;
}

.hover-color-grey:hover {
    /* EQUALS .color-grey */
    color: #CCCCCC;
}

.hover-color-dark-grey:hover {
    /* EQUALS .color-dark-grey */
    color: #555555;
}


/* Background Hoverables */

.hover-bg-color-dark:hover {
    /* EQUALS .color-dark */
    background-color: #202020;
}

.hover-bg-color-bright:hover {
    /* EQUALS .color-bright */
    background-color: #FFFFFF;
}

.hover-bg-color-1st:hover {
    /* EQUALS .color-1st */
    background-color: #FF8000;
}

.hover-bg-color-2nd:hover {
    /* EQUALS .color-2nd */
    background-color: #A62900;
}

.hover-bg-color-3rd:hover {
    /* EQUALS .color-3rd */
    background-color: #E9C4A9;
}

.hover-bg-color-4th:hover {
    /* EQUALS .color-4th */
    background-color: #F8F0E8;
}

.hover-bg-color-bright-grey:hover {
    /* EQUALS .color-bright-grey */
    background-color: #F5F5F5;
}

.hover-bg-color-grey:hover {
    /* EQUALS .color-grey */
    background-color: #CCCCCC;
}

.hover-bg-color-dark-grey:hover {
    /* EQUALS .color-dark-grey */
    background-color: #555555;
}

.border-color-grey {
    /* EQUALS .color-bright-grey */
    border: solid 1px;
    border-color: #CCCCCC;
}

/* ---------- */





/* ----- Layout Structure ----- */

/* Coluna principal */
.column-main {
    width: 75%;
}

/* Coluna secundaria com largura fixa */
.column-2nd {
    width: 400px;
}

/* Limita a largura do container e o centraliza no container pai */
.limiter-1x {
    max-width: 800px;
    margin: auto;
}

.limiter-2x {
    max-width: 1200px;
    margin: auto;
}

.limiter-3x {
    max-width: 1600px;
    margin: auto;
}

.index-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Posicionamento para background-image inferior */
.bg-bottom {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Posicionamento para background-image inferior direito */
.bg-right-bottom {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ---------- */





/* ----- Interface Elements ----- */

/* Tamanho de botao usado principalmente em modal-box */
.btn-1x {
    display: inline-block;
    width: 120px;
    /* EQUALS .color-2nd */
    border: solid 1px #A62900;
    border-radius: 5px;
    /* EQUALS .color-bright */
    color: #FFFFFF;
    /* EQUALS .color-2nd */
    background-color: #A62900;
    padding: 15px;
}

/* Tamanho padrao para botoes */
.btn-2x {
    display: inline-block;
    width: 180px;
    border-radius: 5px;
    padding: 15px;
    /* EQUALS .color-2nd */
    border: solid 1px #A62900;
    /* EQUALS .color-2nd */
    background-color: #A62900;
    /* EQUALS .color-bright */
    color: #FFFFFF;
}

.btn-1x:hover,
.btn-2x:hover {
    /* EQUALS .color-1st */
    border-color: #FF8000;
    /* EQUALS .color-1st */
    background-color: #FF8000;
    cursor: pointer;
}

/* Elemento hr */
.ruler {
    /* EQUALS .color-3rd */
    border: 1px solid #E9C4A9;
    /* EQUALS .color-3rd */
    background-color: #E9C4A9;
}

/* Linha horizontal que faz parte da barra de titulo do formulario de configuracao de efeitos */
.config-ruler {
    /* EQUALS .color-dark-grey */
    border: 1px solid #555555;
    /* EQUALS .color-dark-grey */
    background-color: #555555;
    position: relative;
    top: 12px;
}

/* Container recommended effects */
.round-container {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

/* ---------- */





/* ----- Components ----- */

/* Container para componentes que necessitam de barra de rolagem e altura fixa */
.list-comp,
.table-list-comp {
    width: 100%;
    max-height: 250px;
    overflow: auto;
    text-align: center;
    /* EQUALS .color-grey */
    border: solid 1px #CCCCCC;
    border-radius: 5px;
    /* EQUALS .color-bright */
    background-color: #FFFFFF;
    /* Impede que o container crie espacamento entre rows */
    font-size: 0px;
}

/* Componente de tabela */
.table-list-comp {
    max-height: 325px;
}

/* to delete
Solucao provisoria para contornar o problema de layout em que o componente table_list_comp_font_general 
quebra quando tem a largura maior que a largura do container nas telas com menos de 360px de largura. 
Apagar quando for gerada a imagem do componente mais estreita.*/
#idFontGeneral {
    min-width: 305px;
}

/* Componentes de container sem altura fixa, sem barra de rolagem e com barra de titulo */
.label-list-comp {
    width: 100%;
    text-align: center;
    /* EQUALS .color-1st */
    border: solid 1px #FF8000;
    /* Bordas inferiores arredondadas */
    border-radius: 0 0 10px 10px;
    /* EQUALS .color-bright */
    background-color: #FFFFFF;
}

/* Tamanho minimo das imagens dos componentes com label para evitar que o label seja maior que a largura da imagem
e cause problemas de layout, deixando a area vermelha de selecao mais larga que o estabelecido. */
.label-list-comp img {
    min-width: 130px;
}

/* Imagens que ficam dentro dos componentes */
.list-comp img {
    /* EQUALS .color-bright */
    border: solid 5px #FFFFFF;
    max-width: 200px;
}

/* Configuracao do background-image dos componentes de tabelas */
.table-list-comp table {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    border-collapse: separate;
    width: 100%;
}

/* Tamanho das celulas da tabela dos componentes .table-list-comp  */
.table-list-comp-cell-1x {
    /* Height baseado no total de celulas do componente */
    height: 50px;
    /* EQUALS .color-bright */
    border: 3px solid #FFFFFF;
}

/* Tamanho das celulas da tabela dos componentes .table-list-comp */
.table-list-comp-cell-2x {
    /* Height baseado no total de celulas do componente */
    height: 125px;
    /* EQUALS .color-bright */
    border: 3px solid #FFFFFF;
}

/* Selecao de item de componente com imagens .list-comp */
.label-list-comp-sel {
    /* EQUALS .color-2nd */
    background-color: #A62900;
}

/* Cor do label do item de componente selecionado */
.label-list-comp-sel h3 {
    /* EQUALS .color-bright */
    color: #FFFFFF;
}

/* Selecao de item de dos componentes .table-list-comp */
.list-comp-sel {
    /* EQUALS .color-2nd */
    border-color: #A62900 !important;
}

/* Barra de titulo para componentes .label-list-comp em estado fechado */
.title-bar-closed {
    /* EQUALS .color-1st */
    background-color: #FF8000;
    /* EQUALS .color-bright */
    color: #FFFFFF;
    border-radius: 10px;
}

/* Barra de titulo sem border-bottom-radius para componentes .label-list-comp em estado aberto */
.title-bar-opened {
    /* EQUALS .color-1st */
    background-color: #FF8000;
    /* EQUALS .color-bright */
    color: #FFFFFF;
    /* Bordas superiores arredondadas */
    border-radius: 10px 10px 0 0;
}

/* ---------- */





/* ----- Menu ----- */

.menu-main {
    height: 60px;
}

.menu-button {
    /* EQUALS .color-bright */
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    /* EQUALS .color-bright */
    color: #FFFFFF;
    padding: 5px 10px;
}

.menu-button:hover {
    /* EQUALS .color-1st */
    color: #FF8000;
    /* EQUALS .color-bright */
    background-color: #FFFFFF;
}

/* Jumbotron da Landing Page */
.index-header {
    height: 430px;
}

/* Logotipo Picture to People */
.index-header img {
    margin-bottom: 50px;
}

/* Titulo Picture to People */
.index-header h1 {
    margin-bottom: 15px;
}

/* ---------- */





/* ----- Side Nav ----- */

/* Overlay para o sidenav (Design Tools Menu), ocupa 100% da pagina */
.sidenav-overlay {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* EQUALS .color-dark + alpha-transparency */
    background-color: rgba(32, 32, 32, 0.7);
}

.sidenav-content {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    /* EQUALS .color-bright */
    background-color: #FFFFFF;
    overflow-x: hidden;
    animation-name: right-to-initial;
    animation-duration: 0.5s;
}

.sidenav-header {
    /* Mesma altura da barra de menu principal */
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    /* EQUALS .color-1st */
    background-color: #FF8000;
}

/* ---------- */





/* ----- Modal Box ----- */

/* Overlay para a modal box, ocupa 100% da pagina */
.modal-overlay {
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* EQUALS .color-dark + alpha-transparency */
    background-color: rgba(32, 32, 32, 0.7);
}

.modal-content {
    position: relative;
    width: 400px;
    animation-name: top-to-initial;
    animation-duration: 0.4s;
    /* EQUALS .color-bright */
    background-color: #FFFFFF;
    /* EQUALS .color-grey */
    border: 1px solid #CCCCCC;
}

/* ---------- */





/* ----- Color Picker ----- */

.color-table {
    /* Espacamento ideal entre as celulas do color picker */
    border-spacing: 5px;
    border-collapse: separate;
    margin: auto;
}

/* Celula de cor do color picker */
.color-table td {
    width: 35px;
    height: 35px;
    /* EQUALS .color-bright */
    border: solid 4px #FFFFFF;
    cursor: pointer;
}

/* Campo no color picker que exibe o valor da cor selecionada */
.color-value-display {
    margin: 2px 8px 8px 8px;
}

/* ---------- */





/* ----- Form ---- */

input[type='text'],
input[type='search'],
select {
    text-align: left;
    width: 100%;
    padding: 15px 15px;
    display: inline-block;
    /* EQUALS .color-grey */
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

/* Nao causara overflow caso o rotulo "nenhum arquivo selecionado" seja maior que a largura da pagina. */
input[type='file'] {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Check box personalizado */
.check-box {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.check-box input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    /* EQUALS .color-bright */
    background-color: #FFFFFF;
    /* EQUALS .color-grey */
    border: solid 1px #CCCCCC;
}

.check-box:hover input~.checkmark {
    /* EQUALS .color-grey */
    background-color: #CCCCCC;
}

.check-box input:checked~.checkmark {
    /* EQUALS .color-1st */
    background-color: #FF8000;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.check-box input:checked~.checkmark:after {
    display: block;
}

.check-box .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    /* EQUALS .color-bright */
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ---------- */





/* ----- Shadows ----- */

.hover-shaded-1x:hover {
    /* EQUALS .color-dark + alpha-transparency */
    box-shadow: 0px 0px 4px 1px rgba(32, 32, 32, 0.5);
}

.hover-shaded-2x:hover {
    /* EQUALS .color-dark + alpha-transparency */
    box-shadow: 0 2px 8px 0 rgba(32, 32, 32, 0.45), 0 2px 20px 0 rgba(32, 32, 32, 0.3);
}

.hover-shaded-text:hover {
    /* EQUALS .color-dark + alpha-transparency */
    text-shadow: 2px 2px 1px rgba(32, 32, 32, 0.7);
}

/* Sombra padrao */
.shaded {
    /* EQUALS .color-dark + alpha-transparency */
    box-shadow: 0 2px 4px 0 rgba(32, 32, 32, 0.15), 0 2px 10px 0 rgba(32, 32, 32, 0.12);
}

/* ---------- */





/* ----- Font ----- */

.font-1x {
    font-size: 12px;
}

/* Tamanho de fonte padrao */
.font-2x {
    font-size: 16px;
}

.font-3x {
    font-size: 20px;
}

.font-4x {
    font-size: 28px;
}

.font-5x {
    font-size: 35px;
}

.font-6x {
    font-size: 60px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

/* ---------- */





/* ----- Layout Helpers ----- */

.padded-1x {
    padding: 5px;
}

.padded-2x {
    padding: 10px;
}

.padded-3x {
    padding: 20px;
}

.padded-h-1x {
    padding-left: 10px;
    padding-right: 10px;
}

.padded-h-2x {
    padding-left: 20px;
    padding-right: 20px;
}

.padded-h-3x {
    padding-left: 30px;
    padding-right: 30px;
}

.padded-v-1x {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padded-v-2x {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padded-v-3x {
    padding-top: 30px;
    padding-bottom: 30px;
}

.spaced-v-1x {
    margin-top: 10px;
    margin-bottom: 10px;
}

.spaced-v-2x {
    margin-top: 20px;
    margin-bottom: 20px;
}

.spaced-v-3x {
    margin-top: 30px;
    margin-bottom: 30px;
}

.spaced-v-4x {
    margin-top: 40px;
    margin-bottom: 40px;
}

.spaced-h-1x {
    margin-left: 10px;
    margin-right: 10px;
}

.spaced-h-2x {
    margin-left: 20px;
    margin-right: 20px;
}

.spaced-h-3x {
    margin-left: 30px;
    margin-right: 30px;
}

.spaced-below-1x {
    margin-bottom: 10px;
}

.spaced-below-2x {
    margin-bottom: 20px;
}

.spaced-below-3x {
    margin-bottom: 30px;
}

.spaced-above-1x {
    margin-top: 10px;
}

.spaced-above-2x {
    margin-top: 20px;
}

.spaced-above-3x {
    margin-top: 30px;
}

.spaced-around-1x {
    margin: 5px;
}

.spaced-around-2x {
    margin: 20px;
}

.spaced-around-3x {
    margin: 30px;
}

.img-1x {
    width: 40px;
}

.img-2x {
    width: 180px;
}

.img-3x {
    width: 350px;
}

.rounded-1x {
    border-radius: 3px;
}

.rounded-2x {
    border-radius: 10px;
}

.rounded-3x {
    border-radius: 100%;
}

.pointer {
    cursor: pointer;
}

/* ---------- */





/* ----- Display Helpers ----- */

/* Container com display flex - espacamento identico entre os elementos */
.flex-around {
    display: flex;
    justify-content: space-around;
}

/* Container com display flex  - elementos espacados entre si */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container com display flex - elementos centralizados verticalmente e horizontalmente */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container com display flex - elementos centralizados com mesmo heigh e weight */
.flex-equal {
    display: flex;
}

/* Container filho para display-equals, obrigatorio para display-equals funcionar corretamente */
.flex-equal div {
    flex: 1;
}

.in-block-display {
    display: inline-block;
}

.inline-display {
    display: inline;
}

.hide-elem {
    display: none;
}

.position-relative {
    position: relative;
}

/* Necessario para manter o icone de edicao (photo editor) */
.position-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------- */





/* ----- Animations ----- */

.animate-1:hover {
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.animate-2:hover {
    animation: jello-horizontal 0.9s both;
}

.animate-3:hover {
    animation: flip-vertical-right 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes top-to-initial {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes right-to-initial {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/* ---------- */





/* ----- Media Queries ----- */

@media (max-width: 1100px) {

    /* ----- Layout Structure ---- */

    /* Os elementos que utilizam .flex-around dentro do container main ficam em apenas uma coluna */
    main .flex-around, main .flex-equal {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Coluna principal ocupa toda largura (coluna unica) */
    .column-main {
        width: 100%;
    }

    /* Coluna secundaria ocupa toda largura (coluna unica) */
    .column-2nd {
        width: 100%;
    }

    /* ---------- */


    /* ----- Menu ----- */

    /* Jumbotron com altura suficiente apenas para acomodar os containers internos tornando-o menor */
    .index-header {
        height: initial;
    }

    /* Logotipo Picture to People */
    .index-header img {
        margin-bottom: 30px;
    }

    /* Titulo Picture to People */
    .index-header h1 {
        font-size: 55px;
        margin-bottom: 10px;
    }

    /* Slogan do site na barra de menu */
    .menu-main h3 {
        display: none;
    }

    /* ---------- */
}

@media (max-width: 500px) {

    /* ----- Layout Structure ---- */

    /* Todos os elementos que utilizam a classe ocupam apenas uma coluna */
    .footer-nav,
    .column-main .flex-center, .column-main .flex-equal {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .index-section {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    /* Espacamento entre o container dos itens de navegacao do footer e o paragrafo do footer */
    .footer-nav div {
        margin-bottom: 40px;
    }

    /* ---------- */


    /* ----- Menu ----- */

    /* Logotipo Picture to People */
    .index-header img {
        width: 75px;
        margin-bottom: 25px;
    }

    /* Titulo Picture to People */
    .index-header h1 {
        font-size: 45px;

    }

    /* Botao Design Tools passa a ser apenas um icone de menu */
    .menu-button {
        border: none;
        padding: 0;
    }

    .menu-button:hover {
        /* EQUALS .color-bright */
        color: #FFFFFF;
        background-color: transparent;
    }

    /* Design Tools */
    .menu-button span {
        display: none;
    }

    /* ---------- */


    /* ----- Color Picker ----- */

    .color-table {
        border-spacing: 5px;
    }

    /* Celula de cor do color picker */
    .color-table td {
        width: 30px;
        height: 30px;
        /* EQUALS .color-bright */
        border: solid 3px #FFFFFF;
    }

    /* Campo no color picker que exibe o valor da cor selecionada */
    .color-value-display {
        margin: 2px 8px 2px 8px;
    }

    /* ---------- */


    /* ----- Modal Box ---- */

    .modal-content {
        width: 350px;
    }

    /* ---------- */
}

/* ---------- */